:root {
	--green: #149954;
	--black: #000000;
	--white: #ffffff;
	--red: #e4312b;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.green-bg {
	background-color: var(--green);
}
.black-bg {
	background-color: var(--black);
}
.white-bg {
	background-color: var(--white);
}
.red-bg {
	background-color: var(--red);
}
.green-color {
	color: var(--green);
}
.black-color {
	color: var(--black);
}
.white-color {
	color: var(--white);
}
.red-color {
	color: var(--red);
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--white);
	background-color: var(--black);
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	line-height: 1.6;
	letter-spacing: 1.5px;
}

.finalWords h1 {
	font-size: 4rem;
}

.imageContainer {
	width: 100%;
	height: 416px;
	overflow: hidden;
}

.swiper-pagination-bullet {
	background-color: var(--green) !important;
}

.TeamSwiper .swiper {
	min-height: 500px;
}

.TeamSwiper .imageContainer .nameHolder {
	bottom: -100%;
	left: 0;
	background-color: var(--black);
	transition: all 0.5s ease-in-out;
}
.TeamSwiper .imageContainer img {
	transition: all 0.5s ease-in-out;
}
.TeamSwiper .imageContainer:hover img {
	scale: 1.3;
	filter: blur(3px);
}
.TeamSwiper .imageContainer:hover .nameHolder {
	bottom: 0;
}

.MuiFab-root {
	background-color: var(--green);
}
.MuiFab-root:hover {
	background-color: var(--red);
}
