.Products .ProductsList {
	padding-top: 135px !important;
}
.Products .ProductsList .productImg {
	height: 200px;
}
.Products .ProductsList .title,
.Products .ProductsList .rating .rate {
	font-size: 16px;
}
.Products .ProductsList .description,
.Products .ProductsList .rating .count {
	font-size: 13px;
}
.Products .ProductsList .product .MuiRating-iconEmpty {
	color: var(--green);
}

.Products .CategorySwitch {
	top: 64px;
	left: 0;
	position: fixed;
	background-color: var(--black);
}
.Products .CategorySwitch .active {
	transition: all 0.5s ease-in-out;
	background-color: var(--green);
	color: var(--white);
}
